
<!DOCTYPE html>
<html>
<head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/flatly/bootstrap.min.css"  >  
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> 
    
    <title>Contest Arena</title>
     
</head>


<body  class="page-bootswatch" style="font-family: 'Ubuntu Mono', monospace;">


<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/"><img src="/templates/images/logo.png"  alt="Logo" width="100">&nbsp;Codechef Contest  Arena </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
       {% if wrap.login==1 %}
        <a class="nav-link" href="/logout">logout</a> 
        {% endif %}
       {% if wrap.login==0 %}
        <a class="nav-link" href="/info.php">login</a> 
        {% endif %}
        </li>
      {# <li class="nav-item">  
        <a class="nav-lin" href="/logout"> Logout </a>
        <li> #}
      
    </ul>   
  </div>
</nav>

{% block content %}
{% endblock %}


<div class="jumbotron" style="position:fixed;bottom:0px;width:100%; margin:0px; padding:0px;">


  
  <center>Made with love by Rajat (<a target='_blank' href="https://github.com/howkeye">@howkeye</a>) </center>
  </div>
  </header>

</body>
</html>

