
{% extends "base.twig" %}
{% block content %}




<div class="cantainer container p-3 my-6 border" style="margin-top:10%;">
<center>
<h1><p> Welcome to Codechef Contest Arena !!!</p><h1>

<div class="row" style="    width: 100%;">
<div class=" col-md-4"></div>
<div class=" col-md-3">
{% if wrap.login  == 0 %}


 <a href="auth.php">
    <button type="button" class="btn btn-primary btn-lg" >
        <span class="spinner-grow spinner-grow-sm"></span>
        Enter
    </button>
 </a> 

 {% endif %}
{% if wrap.login == 1 %}
 <a href="templates/contests.php">
    <button type="button" class="btn btn-primary btn-lg" >
        <span class="spinner-grow spinner-grow-sm"></span>
        Enter
    </button>
 </a> 
{% endif %}
{{ flag }}
 </div>
<div class=" col-md-5"></div>
</div>
</center>
</div> 
{% endblock %}

